################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thea2Translator/Thea2Translator/obj/Debug/Thea2Translator.csproj.CoreCompileInputs.cache
/Thea2Translator/Thea2Translator/obj/Debug/Thea2Translator.csprojAssemblyReference.cache
/Thea2Translator/Thea2Translator.CSVReader/bin/Debug
/Thea2Translator/Thea2Translator.CSVReader/obj/Debug

/Thea2Translator/.vs
/Thea2Translator/Thea2Translator/bin
/Thea2Translator/Thea2Translator/obj
/Thea2Translator/Thea2Translator.Logic/obj
/Thea2Translator/Thea2Translator.Logic/bin
/Thea2Translator/Thea2Translator.CSVReader/bin
/Thea2Translator/Thea2Translator.CSVReader/obj
/Thea2Translator/packages
/Thea2Translator/Thea2Translator.CSVReader/publish
/Thea2Translator/Thea2translator.Updater/.vs
/Thea2Translator/Thea2Translator.Updater/Thea2translator.Updater/bin
/Thea2Translator/Thea2translator.Updater/Thea2Translator.Updater/obj
/Thea2Translator/Thea2Translator.ModsDownloader/.vs
/Thea2Translator/Thea2Translator.ModsDownloader/Thea2Translator.ModsDownloader/bin
/Thea2Translator/Thea2Translator.ModsDownloader/Thea2Translator.ModsDownloader/obj