<div class="primaryFontColor text-justify w-75 ml-12 h6">
        <div class="mb-3 h1 font-weight-bold bottomBorder">Status tłumaczenia (stan na 12.07.2019)</div>
    
    <div>
           <div class="row h4">
              
               <div class="col-1"><img src="assets/img/Book1.png" width="100px" alt=""></div>
               <div class="col">
                   <div class="font-weight-bold">Database (opisy, interface itp):</div>
                   <div>Ogólnie: 5336</div>
                   <div>Przetłumaczonych przez Google: 4724 (88%)</div>
                   <div>Zatwierdzonych: 1033 (19%)</div>
               </div>
               <div class="col-1"></div>
               <div class="col-1"><img src="assets/img/Book2.png" width="100px" alt=""></div>
               <div class="col">
                <div class="font-weight-bold">Modules (questy):</div>
                <div>Ogólnie: 15 543</div>
                <div>Przetłumaczonych przez Google: 15 519 (99%)</div>
                <div>Zatwierdzonych: 0 (0%)</div>
               </div>
               
           </div>

           <div class="row">
               <div class="col">
                   <ngb-progressbar type="success" [value]="19"></ngb-progressbar>
                </div>
                <div class="col-1"></div>
               <div class="col">
                    <ngb-progressbar type="danger" [value]="0"></ngb-progressbar>
               </div>
           </div>
    </div>
</div>