


    <div class="primaryFontColor text-justify w-75 ml-12 h4">

        <div class="row">
            <div class="col">
                <div class="mb-3 text-left font-weight-bold h1 bottomBorder">Thea 2: The Shattering</div>
            </div>
        </div>
        <div class="h3">
          <span class="ml-5">Thea 2</span> jest kontynuacją udanej gry Thea: Awakening która wyróżnia się połączeniem strategii 4X, gry RPG, survivalu, a wszystko doprawione słowiańskim klimatem.

          <br /><span class="ml-5">W grze</span> naszym celem jest poprowadzenie grupy ocalałych w zniczonym kataklizmem świecie i pomóc im w przetrwaniu.
          Dokonać tego możemy poprzez wiele dróg jak chociażby wojnę, dyplomację, eksplorację czy też podbój. 
          <br /><span class="ml-5">Gra</span> posiada bogaty system rzemiosła oraz rozbudowy naszej osady.
          Dużym krokiem naprzód względem pierwowzoru jest rozbudowany aspekt sieciowy umożliwiający wspólną grę dla maksymalnie dla 3 graczy.
        </div>
         
    </div>