<div class="primaryFontColor text-justify w-75 ml-12 h6">
    <div class="mb-3 font-weight-bold h1 bottomBorder">Fanowskie tłumaczenie Thea 2: The Shattering</div>

<div class="h3">
        <span class="ml-5">Po</span> wydaniu gry, kiedy okazało się, że na razie nie ma w planach lokalizacji gry na Polskę, w głowie jednej osoby powstał pomysł stworzenia fanowskiego tłumaczenia.
    <br /><span class="ml-5">Tłumaczenie</span> polega na podmianie tekstów w dostępnych plikach gry, dlatego na poczatku powstał prosty programik do wyłuskania tekstów i przetłumaczeniu ich przez Google Translatora. Po rozpoczęciu dyskusji na forum Steam dołączyła się kolejna osoba, również programista i tak rozpoczął się proces rozwoju aplikacji - tak, żeby prócz prostego maszynowego tłumacznia można było w łatwy sposób robić korekty i poprawki stylistyczne.
    <br /><span class="ml-5">Wydawać</span> by się mogło, że szkoda czasu na programowanie i lepiej skupić się na tłumaczeniu, ale z czasem okazało się, że rozwój aplikacji był strzałem w 10! Program jest na tyle prosty i intuicyjny, że czas tłumaczenia pojedynczej frazy znacznie się zmniejszył... Jedyne czego nam teraz brakuje to troche czasu i rąk do pracy... 
    No i może czasem poprawienia jakiegoś błędu w naszym programiku ;-)
</div>

<div class="text-center w-100">
        <ngb-carousel interval="15000">
          <!-- <ng-template ngbSlide>
            <img src="assets/img/screenshots/Test1.jpg" width="100%" alt="Random first slide">
          </ng-template> -->
          <ng-template ngbSlide>
            <img src="assets/img/screenshots/Test2.jpg" width="100%" alt="Random second slide">               
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/img/screenshots/Test3.jpg" width="100%" alt="Random third slide">               
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/img/screenshots/Test4.jpg" width="100%" alt="Random third slide">               
          </ng-template>            
        </ngb-carousel>
        </div>

</div>