.sidenav {
    position: fixed;
    right: 0;
}

.menuItem{
    color: #ffffe6;
    cursor: pointer;
    outline: none;
}

.activeMenuItem{
    background-color: green;
    transform: scale(1.2) ;
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}