<div class="primaryFontColor text-justify w-75 ml-12 h4">

    <div class="row">
        <div class="col">
            <div class="mb-3 text-left font-weight-bold h1 bottomBorder">Tłumaczenie</div>
        </div>
    </div>

        <div>
            W warsztacie steam dostępny jest
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1779053788&searchtext=">Mod TheaPL</a>

            <br />
            Dzięki subskrybcji teksty opisów oraz przycisków w grze zostaną podmienione na język polski.
            <!-- Dzięki subskrycji opisy, teksty na przyciskach oraz oknach itd zostaną podmienione na język polski -->
        </div>
        <div class="text-center mt-3">
            <img src="assets/img/t2pl.ico" width="120px" alt="">
        </div>
    

    <div class="mt-5">
            W tym momencie gra umożliwia tłumaczenie przez mody wszystkiego poza tekstami zadań, dlatego pliki z nimi
            należy podmienić ręcznie.
            <!-- W tym momencie gra umozliwia tlumaczenie przez mody jedynie interface, dlatego pliki z questami nalezy podmienic recznie: -->
            <br>
            <a href="https://drive.google.com/file/d/1Ujy9lbnCaZkXTrS8lsA8HI1q7jTtUWdJ/view?usp=sharing">Pliki do
                pobrania</a>     
    </div>
            <div class="text-center mt-3"><img src="assets/img/tool.png" width="120px" alt=""></div>


</div>