<div class="primaryFontColor text-justify w-75 ml-12 h4">

    <div class="row">
        <div class="col">
            <div class="mb-3 text-left font-weight-bold h1 bottomBorder">Tłumaczenie</div>
        </div>
    </div>

    <div>
        W warsztacie steam dostępna jest <a href="https://steamcommunity.com/workshop/filedetails/?id=1907443537">kolekcja modów</a> zawierających tłumaczenia (w tym momencie w 2 modach).
        <br /> 
        <div class="ml-5"><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1779053788">TheaPL</a> - Tłumaczenia teksty opisów, przycisków oraz zdarzeń.</div>
        <div class="ml-5"><a href = "https://steamcommunity.com/sharedfiles/filedetails/?id=1907422437">TheaPL Imiona</a> - Zawiera zastaw polskich imion i nazw stworzeń występujących w grze.</div>

        <br />
        Dzięki subskrybcji teksty opisów, przycisków oraz zdarzeń w grze zostaną podmienione na język polski.
        <!-- Dzięki subskrycji opisy, teksty na przyciskach oraz oknach itd zostaną podmienione na język polski -->
    </div>
    <div class="text-center mt-3">
        <img class="image" src="assets/img/t2pl.ico" alt="">
    </div>

    <div class="mt-5">
        W tym momencie gra na Steam umożliwia tłumaczenie przez mody wszystkich tekstów, dlatego nie ma konieczności
        pobierania niczego więcej.
        <!-- W tym momencie gra umozliwia tlumaczenie przez mody jedynie interface, dlatego pliki z questami nalezy podmienic recznie: -->
        <br>
        Natomiast dla wersji na platformie GOG niestety pliki z tłumaczeniami należy podmienić ręcznie (zgodnie z
        załączoną instrukcją).

        <br />
        <a href="http://thea2pl.webd.pro/thea2pl.webd.pro/translator/www/Spolszczenie-GOG.zip">Pliki do
            pobrania</a>
    </div>
    <div class="text-center mt-3"><img class="image" src="assets/img/tool.png" alt=""></div>

    <div class="mt-4">
        W przyszłości powstanie wygodny instalator, który automatycznie będzie pobierał i instalował pliki w
        odpowiednich miejscach.
    </div>


</div>