<div class="primaryFontColor text-justify w-75 ml-12 h4">     
     
    <div class="mb-3 h1 font-weight-bold bottomBorder">
        Wsparcie
    </div>
    
    <div>
        <div class="ml-5">Aktualnie w zespole: 3 osoby</div>
        <span class="ml-5">Projekt</span> dla fanów od fanów. Im więcej nas będzie tym szybciej osiągniemy sukces. Fraz do przetłumaczenia jest tysiące, więc każda nawet najmniejsza pomoc jest mile widziana. Nie trzeba nawet biegle posługiwać się angielskim. Stworzony przez nas program przedstawia wstępnie przetłumaczony tekst, który trzeba jedynie poprawić stylistycznie lub często po prostu zatwierdzić. Na Discord jest tajny kanał na którym w razie wątpliwości wspólnie radzimy jak przetłumaczyć specyficzne/niejednoznaczne teksty. Wystarczy jedynie zapał do pracy, trochę wolnego czasu i chęć ulepszenia tej wspaniałej gry ;-)
        <br /><span class="ml-5">Jeśli</span> chcesz wnieść swój wkład w projekt i pozostawić po sobie ślad w grze to zapraszamy do kontaktu.

    </div>

    <div class="text-center mt-2">
        <img src="assets/img/teamwork.png" class="supportImage"  alt="">
    </div>
</div>