<div class="primaryFontColor text-justify w-75 ml-12 h4">     
     
        <div class="mb-3 h1 font-weight-bold bottomBorder">
            Kontakt
        </div>
        
        <div class="row mb-2">
            <div class="col-1 text-center"><img src="assets/img/steamLogo.png" width="70px" alt=""></div>
            <div class="col-2"><a class="position-absolute mt-3" href="https://steamcommunity.com/app/606230/discussions/5/">https://steamcommunity.com/app/606230/discussions/5/</a></div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-center"><img src="assets/img/discordLogo.png" width="80px" alt=""></div>
            <div class="col-2"><a class="position-absolute mt-3" href="https://discord.gg/dYS28eX">https://discord.gg/dYS28eX</a></div>
        </div>
        <div class="row mb-4">
            <div class="col-1 text-center"><img src="assets/img/scroll.png" width="70px" alt=""></div>
            <div class="col-2"><span class="position-absolute mt-3">thea2spolszczenie@gmail.com</span></div>
        </div>
    </div>